html, body {
	font-family: "Arial", sans-serif;
	margin: 0;
	padding: 0;
	font-size: 17px;
	background: #333;
	color: #222;
}

#container {
	width: 100%;
	max-width: 1100px;
	margin: auto;
	position: relative;
}

nav {
	position: absolute;
	left: 0;
	width: 280px;
	top: 0;
	padding: 0;
	margin: 0;
	display: block;
	list-style: none;
	background: #333;
	color: white;
}

nav li {
	display: block;
	margin: 0;
	padding: 0;
}

nav li a.hr {
	border-top: 2px solid #666;
}

nav li a.selected {
	background: #363 !important;
	color: white !important;
}

nav li a.selected:hover {
	background: #474 !important;
}

nav li a {
	display: block;
	padding: 5px;
	color: #ccc;
	text-decoration: none;
	cursor: pointer;
}

nav li:nth-child(odd) a {
	background: #3c3c3c;
}

nav li a:hover {
	background: #444;
}

main {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 280px;
	right: 0;
	top: 0;
}

article {
	background: white;
	padding: 0 20px 20px 20px;
	line-height: 1.4;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
	letter-spacing: .01em;
	// text-align: justify;
}

.language-switcher {
	display: flex;
	align-items: center;
	float: right;
	color: black;
	text-decoration: none;
	padding-top: 0.3rem;

	img, span {
		display: inline-block;
	}

	img {
		height: 1.2em;
		padding-right: 0.3em;
	}
}

footer {
	margin: 0 0 20px 0;
	padding: 1em 1.5em;
	background: #444;
	color: #fff;
	border-radius: 0 0 10px 10px;
}

footer a {
	color: #0be;
	text-decoration: none;
}

footer a:hover {
	color: #0df;
	text-decoration: underline;
}

header {
	text-align: center;
	padding: 100px 0;
}

header h1 {
	padding-bottom: 20px;
}

header span {
	display: block;
	padding: 6px;
}

.homepage h1 {
	font-size: 200%;
}

.book-only {
	display: none;
}

@media all and (max-height: 568px) {
	nav {
		position: absolute;
	}
}

@media all and (max-width: 780px) {
	nav {
		position: static;
		margin: 0;
		width: 100%;
	}

	nav li a {
		padding: 10px;
	}

	main {
		position: static;
		margin: 0;
		padding-top: 20px;
	}
}

@media print {
	nav{
		display: none !important;
	}

	main {
		left: 0 !important;
	}

	.header-link {
		display: none !important;
	}

	a {
		color: black !important;
		text-decoration: none !important;
	}

	html, body {
		background: none;
		font-size: 11pt;
	}

	footer {
		display: none;
	}

	#container {
		max-width: none;
		margin: 0;
		position: relative;
	}
}


@import "content";
@import "code";
@import "notice";
@import "table";
@import "feedback";
