table {
	width: 100%;
	border-collapse: collapse;
}
table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}
table tr:nth-child(even) {
	background-color: #f2f2f2;
}
table th {
	padding: 12px 8px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}
