---
layout: base
---

{% assign pathsplit = page.path | split: '/' %}

{% assign language = pathsplit[0] %}

{% if language == "_it" %}
	{% assign language = "it" %}
	{% assign links = site.it %}
{% else %}
	{% assign language = "en" %}
	{% assign links = site.en %}
{% endif %}
{% assign links = links | where_exp: "item", "item.sitemap != false" | sort: "idx" %}

{% assign num = 0 %}

<nav>
	{% for link in links %}
		{% assign idsplit = link.id | split: '/' %}
		{% assign section = idsplit[2] %}
		<li>
			<a href="{{ page.root }}{{ link.url }}"
					class="{% if page.title == link.title %}selected{% endif %}{% if section != last_section and section != 'index' %} hr {% endif %}">
				{% if section != "index" %}{{ num }} - {% endif %}
				{{ link.title }}
			</a>
		</li>

		{% assign last_section = section %}
		{% assign num = num | plus:1 %}
	{% endfor %}
	<li><a href="https://github.com/rubenwardy/minetest_modding_book/archive/examples.zip" class="hr">Download Examples</a></li>
</nav>

<main>
	<article {% if page.homepage %}class="homepage"{% endif %}>
		<a href="{{ page.root }}/languages.html" class="language-switcher">
			<img src="{{ page.root }}/static/languages.svg" alt="Choose a language">
			<span>{{ language }}</span>
		</a>

		{% if page.no_header %}{% else %}<h1>{{ page.title }}</h1>{% endif %}
		{{ content }}
	</article>

	{% for link in links  %}
		{% if link.title == page.title %}
			{% unless forloop.first %}
				{% assign prev = tmpprev %}
			{% endunless %}
			{% unless forloop.last %}
				{% assign next = links[forloop.index] %}
			{% endunless %}
		{% endif %}
		{% assign tmpprev = link %}
	{% endfor %}

	<ul class="prevnext">
		<li>{% if prev %}<a href="{{ page.root }}{{ prev.url}}">&lt; {{ prev.title }}</a>{% endif %}</li>
		<li>{% if next %}<a href="{{ page.root }}{{ next.url}}">{{ next.title }} &gt;</a>{% endif %}</li>
	</ul>

	{% if language == "en" %}
	<aside class="feedback">
		<h2>
			{% unless page.homepage %}Confused?{% endunless %}
			Have an idea to make the book better?
		</h2>
		<p>
			Please let me know using the form below.
		</p>
		<form method="POST" action="https://api.rubenwardy.com/comment/">
			<input type="hidden" name="url" value="{{ page.url | absolute_url }}">
			<input type="hidden" name="redirect_to" value="https://rubenwardy.com/minetest_modding_book/comment_received.html">
			<input type="hidden" name="name" value="Anonymous">
			<label for="username" class="form-label">Username</label>
			<input type="text" id="username" name="username">
			<div class="form-group">
				<label for="message" class="form-label">Message</label>
				<textarea class="form-control" id="message" name="message" rows="3" required="" minlength="5" maxlength="1800"></textarea>
				<small id="messageHelp" class="form-text text-muted">
					Max 1800 characters. What is missing? What confused you?
					What did you find unclear? What other feedback do you have?
				</small>
			</div>
			<div class="form-group">
				<label for="email" class="form-label">Email address (optional)</label>
				<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" maxlength="320">
				<small id="emailHelp" class="form-text text-muted">
					Optional, if you'd like to receive a response.
				</small>
			</div>
			<button type="submit" class="btn btn-primary">Send Feedback</button>
		</form>
	</aside>
	{% endif %}

	<footer>
		&copy; 2014-{{ site.time | date: '%Y' }}
		{% if language == "en" %}
			| Helpful? Consider
			<a href="https://rubenwardy.com/donate/">donating</a>
			to support my work.
		{% endif %}
	</footer>
</main>
